<!-- navigation bar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/pythonClass/">Python Class</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li {% if page.title == 'Home' %}class="active"{% endif %}>
                    <a href="/pythonClass/">Home</a>
                </li>
                <li {% if page.title == 'Entire Course' %}class="active dropdown"{% else %}class="dropdown"{% endif %}>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Entire Course<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/pythonClass/sitePages/readme.html">        Outline</a></li>
                        {% for i in (1..10) %}
                            <li>
                                <a href="/pythonClass/sitePages/readme.html#class-{{ i }}">Class {{ i }}</a>  
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% for p in site.pages %}
                    <li {% if page.url == p.url %}class="active"{% endif %}>
                        {% if p.title == "About" %}{% elsif p.title == "Home" %}{% elsif p.title == "Entire Course" %}{% else %}<a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<!-- navigation bar -->